package bloblang

{{ $moduleName := .Name -}}
import (
	"log"

	"{{.Name}}"
	"github.com/benthosdev/benthos/v4/public/bloblang"
)


// Supported Method: Array, Bool, Bytes, Float64, Int64, Object, String, Timestamp

func init() {
	var (
		err error
	)
{{ range .Functions }}
	{{- $nArgs := len .Args -}}
	{{- if gt $nArgs 0 -}}
	{{- $funcName := .Name }}
	object{{.Name}}Spec := bloblang.NewPluginSpec().
		{{- range $i, $el := .Args -}}
			{{if $i}}.{{end}}Param(bloblang.New{{ benthosType .Type}}Param("{{$el.Name}}"))
		{{- end }}

	err = bloblang.RegisterMethodV2("{{.Name}}", object{{.Name}}Spec,
		func(args *bloblang.ParsedParams) (bloblang.Method, error) {
			{{- $argStr := "" -}}
			{{- range .Args -}}
			{{- if eq $argStr "" -}}
			{{ $argStr = (printf "%s" .Name) }}
			{{ else }}
			{{ $argStr = (printf "%s, %s" $argStr .Name) }}
			{{- end -}}
			{{.Name}}, err := args.Get{{ benthosType .Type }}("{{ .Name }}")
			if err != nil {
				return nil, err
			}
			{{ end -}}

			return bloblang.{{ benthosType .Type }}(func(s string) (any, error) {
				return {{$moduleName}}.{{$funcName}}({{ $argStr }}), nil
			}, nil
	})

	if err != nil {
		panic(err)
	}
	{{ end }}
{{- end }}
}
